.app {
  text-align: center;
 background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80");
 position: fixed;
 min-width: 100%;
 min-height: 100%;
 background-size: cover;
 background-position: center;
 overflow: scroll;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body {
  
  background-image: linear-gradient(to right, rgba(35,48,52,100), #066f90);
    
}
.loginForm {
  top: 100px;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}
.loginForm Button{
    margin: 10px
  }

.nav{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-content: center;
  flex-wrap: wrap;
  
}
.nav li{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-content: center;
  flex-wrap: wrap;
  height: 45px;
}
